[submodule "src/github.com/SUSE/scf-secret-generator"]
	path = src/github.com/SUSE/scf-secret-generator
	url = https://github.com/SUSE/scf-secret-generator.git
[submodule "src/github.com/SUSE/testbrain"]
	path = src/github.com/SUSE/testbrain
	url = https://github.com/SUSE/testbrain.git
[submodule "src/github.com/cloudfoundry/cf-acceptance-tests"]
	path = src/github.com/cloudfoundry/cf-acceptance-tests
	url = https://github.com/cloudfoundry/cf-acceptance-tests.git
